<% content_for :head do %>
  <%= stylesheet_link_tag "front/cart" %>
<% end %>

<%# 発送選択 %>
<h2 class="main_t">発送方法選択</h2>
<div id="cart">
  <%= image_tag("cart/route03.gif", :width => "583", :height => "31", :alt => "ご購入の流れ", :class => "route") %>
  <% form_for :order_delivery, :url => {:action => :purchase} do |f| %>
    <% @carts_map.each do |retailer_id, cart_array| %>
      <%= render :partial => "set_delivery_each_retailer", :locals => {:carts => cart_array, :retailer_id => retailer_id, :f => f} %>
    <% end %>
    <%= render :partial => "order_deliveries" %>
  <% end %>
</div>
