.DS_Store
*~
log/*
!log/.gitkeep
tmp/*
!tmp/.gitkeep
db/schema.rb
vendor/plugins/*
!vendor/plugins/.gitkeep
!vendor/plugins/acts_as_paranoid
!vendor/plugins/double_submit_protection
!vendor/plugins/image_submit_tag_ext
!vendor/plugins/mbmail
!vendor/plugins/rails-active-form
!vendor/plugins/ssl_requirement
vendor/gems/lhalib-0.8.1/ext/Makefile
vendor/gems/lhalib-0.8.1/ext/*.o
vendor/gems/lhalib-0.8.1/ext/*.so
vendor/gems/lhalib-0.8.1/lib
var/run/*
!var/run/.gitkeep
config/database.yml
.rvmrc
public/js/application.js
