<% form_for [:admin, @style] do |f| %>
  <%= f.error_messages %>
  <table class="data2" cellspacing="1">
    <tr>
      <th>規格名</th>
      <td>
        <%= f.text_field :name %>
        <%= f.submit "登録", :confirm=>"この内容で登録して宜しいですか？", :class=>"btn_s" %>
      </td>
    </tr>
  </table>
  <%= hidden_field_tag :id, @style.id %>
<% end %>
