<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>配達業者登録</h2>
<% form_tag( {:action => "delivery_create"}, :name=>"delivery_form") do %>
<%= render :partial => "delivery_form" %>
<% end %>

</div><!-- /メイン -->
