<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>SHOPマスタ登録</h2>
<% form_tag :action => "update" do%>
 <%= hidden_field_tag "id", @id %>
<%= render :partial => "form" %>
<% end %>

</div><!-- /メイン -->
