<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>支払方法登録・編集</h2>
<% form_for :payment, :url => {:action => "payment_create", :model => @model_name ,:name=>"payment_form"}, :html => {:multipart=>true} do |f| %>
  <%= render :partial => "payment_form", :locals => {:f => f} %>
<% end %>

</div><!-- /メイン -->
