<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>ポイント管理</h2>
<% form_tag :action => "point_update" do%>
 <%= hidden_field_tag "id", @id %>
<%= render :partial => "point_form" %>
<% end %>

</div><!-- /メイン -->

