<%if @preview_id == '1'%>
	<div>
		<%if (!@privacy.blank? && !@privacy.content_collect_mobile.blank?)%>
		<%= @privacy.content_collect_mobile %>
		<%end%>
	</div>
	
	<hr noshade="noshade" color="ORANGE"/>
	
	→<a href="#">戻る</a><br />
	→<a href="#">個人情報の取り扱いについて同意した上でお問い合わせ</a><br /><br />
	
	<hr noshade="noshade" color="ORANGE"/>
<%elsif @preview_id == '3'%>
	<div style="text-align:center;"><h4>ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ</h4></div>
	<div>
		<%if (!@privacy.blank? && !@privacy.content_privacy_mobile.blank?)%>
		<%= @privacy.content_privacy_mobile %>
		<%end%>
	</div>
<%end%>