<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>環境設定</h2>
<p class="req"><span class="pnt">※</span>は必須入力です</p>
<h3>仕入先</h3>
<%= render :partial => "settings_form" %>
</div><!-- /メイン -->

