<%- unless @new_products.blank? -%>
<h2 class="clearfix"><%= image_tag "/images/top/new_item_t.gif", :alt => "新着商品" %></h2>
<div id="new_item" class="clearfix">
  <ul>
    <%- @new_products.each do | new_product | -%>
      <li class="clearfix">
        <%= link_to((product_image_tag(new_product, :small)), {:controller => "/products", :action => "show", :id => (new_product.id),:category_id => new_product.category_id}) %>
        <p><%= link_to_product new_product -%></p>
      </li>
    <%- end -%>
  </ul>
</div>
<div class="m_btm"><%= image_tag "/images/top/top_bg_btm.gif", :size => "530x5", :alt => "" %></div>
<%- end -%>
