<h3>入庫情報</h3>
<table class="data" cellspacing="1">  
  <tr>
    <th>実入庫数<span class="pnt">※</span></th>
    <td>
      <%= f.text_field :storaged_count, {:class=>"data_s",:style=>"ime-mode:inactive"} %>
    </td>
  </tr>
  <tr>
    <th>備考<span class="pnt">※</span></th>
    <td>
      <%= f.text_area :comment,{:size=>"60x10",:style=>"ime-mode:active" }%>
    </td>
  </tr>
</table>
