@charset "utf-8";
/*------共通-----*/
body, div, h1, h2, h3, h4, h5, h6,
p, brockquote, pre, address,
ul, ol, li, dl, dt, dd,
table, th, td,
form, fieldset {
  margin: 0;
  padding: 0;
  line-height:1;
  font-size:100%;
  font-style:normal;
  font-weight:normal;
}

.btn_box form {
  display: inline;
}

img {
  vertical-align: bottom;
  border: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.clearfix { display: inline-block; }
.clearfix { display: block; }

.clear { clear: both; }

html { overflow-y: scroll; }
li { list-style-type: none; }
textarea { font-size: 100%; }

.attention div {
  padding: 0 0 10px 10px;
}

/*------リンク色------*/
a {
  text-decoration: none;
  font-weight: normal;
}
a:link { color: #414d8d; }
a:visited { color: #414d8d; }
a:hover {
  color: #414d8d;
  text-decoration: underline;
}
a:active { color: #414d8d; }

/*-----------ログイン画面---------*/
#login {
  overflow: auto;
  height: 260px;
  width: 250px;
  padding: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -130px;
  margin-left: -125px;
  border: 4px solid #cccccc;
  background-color: #ffffff;
}

.login_logo {
  display: block;
  margin: 30px auto;
}

.login_notice {
  margin-bottom: 10px;
  color: #ff6666;
}

#form1 {
  margin-bottom: 10px;
}

#admin_user_login_id,
#admin_user_password {
  width: 175px;
  margin-left: 5px;
  border: 1px solid #aaaaaa;
}

.login_table td {
  vertical-align: middle;
  padding-bottom: 10px;
}

.login_btn {
  width: 65px;
  display: block;
  margin: 5px auto 10px;
}

.login_copy {
  position: absolute;
  top: 85%;
  left: center;
  margin-top: 20px;
  font-size: 75%;
  color: #888888;
  text-align: center;
}


/*---------------全体-------------*/
body {
  width: 100%;
  height: 100%;
  background: #f6f6f6 url("../images/body_bg.gif") repeat-y center 0;
  font-family: Verdana, Osaka, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 75%;
}

#login_body {
  background: none;
  background-color: #f6f6f6;
}

html>/**/body {
  font-size: 12px;
}

#wrapper {
  width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}

#containar {
  background: #ffffec url("../images/main_bg.gif") repeat-y;
  border-right: 3px solid #ffffff;
}

/*-----------ヘッダー-----------*/
#header {
  width: 950px;
}

#header h1 {
  width: 158px;
  margin: 22px auto 0;
}

#head_l {
  float: left;
  width: 200px;
  height: 95px;
  background: url("../images/logo_bg.gif") no-repeat;
}

#head_m {
  float: right;
  width: 750px;
  height: 95px;
  background: url("../images/head_bg.gif") no-repeat;
}

#head_r {
  float: right;
  width: 350px;
}

#con_menu {
  float: left;
  padding: 20px 0 0 19px;
}

#con_menu li {
  float: left;
  margin-left: 2px;
}

#user_name {
  float: left;
  width: 230px;
  height: 30px;
  text-align: right;
  margin-top: 33px;
}

* html #user_name {
  width: 200px;
}


#user_menu {
  margin: 33px 20px 0 0;
  float: right;
}

#user_menu li {
  margin-bottom: 5px;
  padding-left: 12px;
  background: url("../images/list_mizu.gif") no-repeat 0 center;
}

/*------カラムレイアウト-----*/
#sub {
  float: left;
  width: 200px;
}

#main {
  float: right;
  width: 707px;
  padding: 10px 18px 18px;
  background-color: #ffffec;
}

/*------メニュー------*/
#menu {
  width: 190px;
  background-color: #84d0db;
  padding: 7px 4px 5px;
}

#menu p {
  height: 36px;
  background: url("../images/menu_l.gif") no-repeat right top;
  line-height: 36px;
}

#menu img {
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: top;
  left: left;
}

#menu p span {
  padding-left: 36px;
  height: 36px;
  font-size: 120%;
  font-weight: bold;
  color: #ffffff;
  display: block;
  cursor: pointer;
}

#menu p a:hover {
  text-decoration: none;
}

#menu li{
  width: 168px;
  height: 30px;
  padding-left: 22px;
  line-height: 30px;
  background: url("../images/menu_s.gif") no-repeat;
}

#menu li a{
  width: 168px;
  height: 30px;
  margin-left: -22px;
  padding-left: 22px;
  display: block;
}

#menu li a:hover {
  width: 168px;
  height: 30px;
  margin-left: -22px;
  padding-left: 22px;
  display: block;
}

/*----------フッター----------*/
#footer {
  width: 944px;
  height: 60px;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  background: #ffffff url("../images/foot_bg.gif") repeat-x 0 0;
}

#footer img {
  float: left;
}

#footer address {
  width: 747px;
  margin-left: 197px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 80%;
  color: #666666;
}

#footer_btm {
  width: 970px;
  height: 10px;
  margin: 0 auto;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

/*-------見出し------*/
h2 {
  width: 672px;
  height: 43px;
  padding-left: 38px;
  margin-bottom: 15px;
  background: url(../images/h2_bg.gif) no-repeat;
  line-height: 43px;
  font-size: 130%;
  font-weight: bold;
  color: #ffffff;
}

h3 {
  width: 687px;
  height: 30px;
  padding-left: 23px;
  background: url(../images/h3_bg.gif) no-repeat;
  line-height: 30px;
  font-size: 120%;
  font-weight: bold;
  color: #ffffff;
}

/*-------テーブル回り------*/
.req {
  text-align: right;
  margin: -11px 0 4px 0;
}

.pnt {
  color: #cc3300;
  font-weight: normal;
}

/*-------横列テーブル-------*/
.data, .data2 {
  width: 710px;
  margin-bottom: 15px;
  border-collapse: separate;
  border-spacing: 0;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}

.btn_t {
  width: 710px;
  margin-bottom: 3px;
  border-collapse: separate;
  border-spacing: 0;
}

.data th {
  width: 230px;
  padding: 7px;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  text-align: left;
  font-weight: bold;
  color: #666666;
  background-color: #e0f3f5;
}

.data td {
  width: 480px;
  padding: 3px 8px;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  background-color: #ffffff;
}

/*-------縦列テーブル-------*/
.data2 th {
  padding: 7px;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  text-align: center;
  font-weight: bold;
  color: #666666;
  background-color: #e0f3f5;
}

.data2 td {
  padding: 3px 8px;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  background-color: #ffffff;
}

.t_center {
  text-align: center;
}

.t_right {
  text-align: right;
}

/*---------フォーム---------*/
.data input, .data2 input, .btn_t input {
  border: 1px solid #bbbbbb;
  margin-right: 5px;
  padding: 2px;
}

.data textarea, .data2 textarea {
  border: 1px solid #bbbbbb;
  line-height: 130%;
}

.data iframe, .data2 iframe {
  border: 1px solid #bbbbbb;
  line-height: 130%;
}

.m_btm {
  margin-bottom: 6px;
}

.m_lft {
  margin-left: 5px;
}

.data_l {
  width: 400px;
}

.data_m {
  width: 250px;
}

.data_s {
  width: 60px;
}

.btn_s {
  height: 22px;
  background: url(../images/btn_s.gif) repeat-x;
  cursor: pointer;
}

/*----------ボタン----------*/
.btn {
  height: 34px;
  padding: 0 18px;
  margin: 0 auto;
  background: url(../images/btn_main.gif) no-repeat;
  border: 0;
  cursor: pointer;
  overflow: visible;
}

.btn_side {
  margin-left: -6px;
}

* html .btn_side {
  margin-left: -6px;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
}

.btn_box {
  width: 710px;
  height: 34px;
  display: table-cell;
  text-align: center;
  font-weight: bold;
  float: left;
}

/*-------お知らせ-------*/
.info {
  padding: 5px;
  background-color: #ffffff;
  border-left: 1px solid #b4b4b4;
  border-right: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
}

.info dt {
  margin-bottom: 7px;
  padding-left: 10px;
  background: url(../images/list_mizu.gif) no-repeat left center;
}

.info dd {
  line-height: 130%;
}

/*-------カテゴリ選択------*/
#category {
  width: 686px;
  background-color: #ffffcc;
  padding: 12px;
  margin-bottom: 10px;
}

#category_img {
  margin: 0 5px;
}

#category_info {
  text-align: center;
  margin-bottom: 10px;
}

/*-------余白-------*/
.space3_bottom {
  margin-bottom: 3px;
}

.space20_bottom {
  margin-bottom: 20px;
}

.space50_bottom {
  margin-bottom: 50px;
}

.space70_bottom {
  margin-bottom: 70px;
}

.space10_left {
  margin-left: 10px;
}

.space15_right {
  margin-right: 15px;
}

.space100_right {
  margin-right: 100px;
}

/*-------エラー-------*/

#errorExplanation{
  background-color:#FFFFFF;
  border:1px solid #AAAAAA;
  padding-bottom: 7px;
  width:405px;
  margin-bottom: 7px;
}
#errorExplanation h2{
  width: 398px;
  height: 30px;
  padding-left: 7px;
  padding-bottom: 7px;
  margin-bottom: 7px;
  background: #E0F3F5;
  color: #666666;
}

#errorExplanation p{
  padding: 3px
}

#errorExplanation ul{
  padding: 7px
}
.d_right {
  text-align: right;
  height: 20px;
  padding-top: 7px;
}

.space20_bottom br {
  margin: 6px 0;
}

.status_list li {
  margin: 6px 0;
  background: url(../images/list_mizu.gif) no-repeat 0 center;
  padding-left:12px;
}

