@charset "utf-8";
/*------共通------*/
body, div, h1, h2, h3, h4, h5, h6,
p, brockquote, pre, address,
ul, ol, li, dl, dt, dd,
table, th, td,
form, fieldset {
  margin: 0;
  padding: 0;
  line-height:1;
  font-size:100%;
  font-style:normal;
  font-weight:normal;
}

img {
  vertical-align: bottom;
  border: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.clearfix { display: inline-block; }
.clearfix { display: block; }

.clear { clear: both; }

html { overflow-y: scroll; }
li { list-style-type: none; }
textarea { font-size: 100%; }

/*------リンク色------*/
a {
  text-decoration: none;
  font-weight: normal;
}
a:link { color: #414d8d; }
a:visited { color: #414d8d; }
a:hover {
  color: #414d8d;
  text-decoration: underline;
}
a:active { color: #414d8d; }

/*---------------全体--------------*/
body {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  font-family: Verdana, Osaka, "ＭＳ Ｐゴシック", sans-serif;
  font-size: 75%;
}

html>/**/body {
  font-size: 12px;
}

#wrapper {
  width: 950px;
  background: url("../images/body_bg.gif") repeat-y scroll right 0;
  margin: 0 auto;
  padding: 0 10px;
}

#containar {
  background: #ffffec url("../images/main_bg.gif") repeat-y;
  border-right: 3px solid #ffffff;
}

/*-----------ヘッダー-----------*/
#header {
  width: 950px;
}

#header h1 {
  width: 158px;
  margin: 22px auto 0;
}

#head_l {
  float: left;
  width: 200px;
  height: 95px;
  background: url("../images/logo_bg.gif") no-repeat;
}

#head_r {
  float: right;
  width: 750px;
  height: 95px;
  background: url("../images/head_bg.gif") no-repeat;
}

#con_menu {
  float: left;
  padding: 20px 0 0 19px;
}

#con_menu li {
  float: left;
  margin-left: 2px;
}

#user_name {
  float: left;
  width: 230px;
  text-align: right;
  margin-top: 33px;
}

#user_menu {
  float: right;
  width: 100px;
  margin-top: 33px;
}

#user_menu li {
  margin-bottom: 5px;
  padding-left: 12px;
  background: url("../images/list_mizu.gif") no-repeat 0 center;
}

/*------カラムレイアウト------*/
#sub {
  float: left;
  width: 200px;
}

#main {
  float: right;
  width: 707px;
  padding: 10px 18px 18px;
  background-color: #ffffec;
}

/*------メニュー------*/
#menu {
  width: 190px;
  background-color: #84d0db;
  padding: 7px 4px 5px;
}

#menu p {
  height: 36px;
  background: url("../images/menu_l.gif") no-repeat;
  line-height: 36px;
}

#menu p a {
  width: 190px;
  height: 36px;
  font-size: 120%;
  font-weight: bold;
  color: #ffffff;
  display: block;
}

#img1 {
  position: absolute;
  top: top;
  left: left;
}

* html #menu p img {
  margin-top: -14px;
  margin-bottom: -8px;
}

* html #menu p a {
  height: 25px;
  padding-top: 11px;
}

#menu p a:hover {
  text-decoration: none;
}

#menu li{
  width: 168px;
  height: 30px;
  padding-left: 22px;
  line-height: 30px;
  background: url("../images/menu_s.gif") no-repeat;
}

#menu li a{
  width: 168px;
  height: 30px;
  margin-left: -22px;
  padding-left: 22px;
  display: block;
}

#menu li a:hover {
  width: 168px;
  height: 30px;
  margin-left: -22px;
  padding-left: 22px;
  display: block;
}

/*----------フッター----------*/
#footer {
  width: 944px;
  height: 60px;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  background: #ffffff url("../images/foot_bg.gif") repeat-x 0 0;
}

#footer img {
  float: left;
}

#footer address {
  width: 747px;
  margin-left: 197px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  font-size: 80%;
  color: #666666;
}

#footer_btm {
  width: 970px;
  height: 10px;
  margin: 0 auto;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
}

/*-------見出し-------*/
h2 {
  width: 672px;
  height: 43px;
  padding-left: 38px;
  margin-bottom: 15px;
  background: url(../images/h2_bg.gif) no-repeat;
  line-height: 43px;
  font-size: 130%;
  font-weight: bold;
  color: #ffffff;
}

h3 {
  width: 687px;
  height: 30px;
  padding-left: 23px;
  background: url(../images/h3_bg.gif) no-repeat;
  line-height: 30px;
  font-size: 120%;
  font-weight: bold;
  color: #ffffff;
}

/*-------テーブル周り-------*/
.req {
  text-align: right;
  margin: -11px 0 4px 0;
}

.pnt {
  color: #cc3300;
  font-weight: normal;
}

.data {
  width: 710px;
  margin-bottom: 15px;
  border-collapse: separate;
  border-spacing: 0;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}

.data th {
  width: 230px;
  padding: 7px;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  text-align: left;
  font-weight: bold;
  color: #666666;
  background-color: #e0f3f5;
}

.data td {
  width: 480px;
  padding: 3px 8px;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  background-color: #ffffff;
}

/*---------フォーム---------*/
.data input {
  border: 1px solid #bbbbbb;
  margin-right: 5px;
  padding: 2px;
}

.data textarea {
  border: 1px solid #bbbbbb;
  line-height: 130%;
}

.m_btm {
  margin-bottom: 6px;
}

.m_lft {
  margin-left: 5px;
}

.data_l {
  width: 400px;
}

.data_m {
  width: 250px;
}

.data_s {
  width: 60px;
}

.btn_s {
  height: 20px;
  background: url(../images/btn_s.gif) repeat-x;
}

/*----------ボタン----------*/
.btn {
  height: 34px;
  padding: 0 18px;
  margin: 0 auto;
  background: url(../images/btn_main.gif) no-repeat;
  border: 0;
  cursor: pointer;
  overflow: visible;
}

.btn_side {
  margin-left: -6px;
}

* html .btn_side {
  margin-left: -6px;
  font-size: 0;
  line-height: 0;
  vertical-align: top;
}

.btn_box {
  width: 710px;
  height: 34px;
  display: table-cell;
  text-align: center;
  font-weight: bold;
}


/*-------共通ボックス-------*/
#input_area .mybtn input,
#input_area .mybtn2 input {
  border:  none;
}
