div.emoji_palette {
  position: absolute;
  top:  100px;
  left: 100px;
  border: 1px solid #AAA;
  z-index:  5;
  width:  410px;
  background-color: #FFF;
}
div.emoji_palette_title {
  background-color: #E0F3F5;
  color:  #666;
  height: 1.5em;
  cursor: crosshair;
}
div.emoji_palette_title_left {
  float:  left;
  font-weight:bold;
  text-align: right;
  width:  220px;
  padding-top:  5px;
  padding-right: 80px;
}
div.emoji_palette_title_right {
  margin-left:  300px;
  text-align:   right;
  padding-right:  10px;
}
span.emoji_palette_close {
  color:  #666;
  font-size:  80%;
  text-decoration:  none;
  cursor:    pointer;
}
div.emoji_palette table {
  border-collapse: collapse;
  margin: 2px 4px;
}

div.emoji_palette td {
  padding:   1px;
  cursor: pointer;
}

div.emoji_palette td.null_emoji {
  background-color: #FFF;
  padding:   1px;
  cursor:    default;
}

img.emoji_entry:hover {
  border: 1px solid #AAA;
  cursor: pointer;
}
img.emoji_entry {
  border: 1px solid #FFF;
  cursor: pointer;
}
