.title_front {
	background-color:#FFEBCD;
	border:1px #CC9966 solid !important;
	font-size:13px;
	height:33px;
	padding:3px;
	position:relative;
	text-align:center;
	width:200px;
	z-index:1;
}

.title_back {
	background-color:#D3CD9A;
	border:1px #CC9966 solid !important;
	font-size:13px;
	height:10px;
	left:3px;
	position:relative;
	text-align:center;
	top:-8px;
	width:200px;
	z-index:0;
}
