<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>受注編集履歴</h2>
<% form_tag({:action => "edit", :id => @order_delivery.order_id}, {:method => "put", :multipart => "true"}) do  %>
  <%= render :partial => "form" %>
<% end %>

</div><!-- メイン -->
