<%= stylesheet_link_tag "order/order" %>

<%= render :partial => "submenu" %>

<div class="set">
<div class="contents_area">

<h2>受注管理<!--<%= @model_name %>--></h2>
<p>※実際ここで新規作成することはない。</p>

<% form_tag :action => "create", :model => @model_name do %>
<%= render :partial => "form" %>
<% end %>

</div>
</div>
