<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-style-type" content="text/css">
    <title>受注履歴</title>
  </head>
  <body>
<%= stylesheet_link_tag "admin" %>
<div id="wrapper" class="clearfix">
  <div id="containar" class="clearfix">
    <div id="main"><!-- メイン -->
      <%= render :partial => 'show' %>
    </div>
  </div>
</div>
  </body>
</html>
