<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<link href="/stylesheets/admin.css" rel="Stylesheet" type="text/css" />
<html>
  <head>
    <title><%= @title || "納品書" %></title>
  </head>
<div id="login_body">
<div id="containar" class="clearfix">
  <%= yield %>
</div>
</div>
</html>
