@charset "utf-8";

#container {
  background: url();
  width: 735px;
  margin: 0 auto;
}

.main_t {
  width: 690px;
  background: url(/images/common/main_t_l.gif) no-repeat;
}

#cart {
  width: 715px;
  margin: 0 auto;
}

.route {
  display: block;
  width: 583px;
  margin: 10px auto 20px;
}

.error_mes {
  width: 692px;
  padding: 10px;
  border: 1px solid #ff0000;
  margin: 5px 0;
  color: #ff0000;
}

.cart_btn {
  width: 300px;
  margin: 0 auto;
}

#caption {
  line-height: 120%;
  margin-bottom: 10px;
}

#cart .radio_btn {
  border: none;
}

#cart .cart_btn input {
  border: none;
  margin: 0 7px;
  float: left;
}

#point_tb td {
  line-height: 120%;
}

#point_tb .point_form {
  width: 60px;
  margin: 0 4px;
}

.cart_complete {
  text-align: center;
}

.cart_complete a {
  margin: 0 10px;
  background: url(/images/common/list_pink.gif) no-repeat 0 6px;
  padding: 3px 0 3px 15px;
}

/*---form parts---*/
#cart input,
#cart select {
  border: 1px solid #999999;
}

#cart .radio,
#cart .chk {
  border: none;
}

.form_s {
  width: 80px;
  margin-right: 10px;
}

.form_s2 {
  width: 60px;
}

.m_left {
  margin-leftt: 5px;
}

.total2 {
  clear: both;
  width: 200px;
  float: right;
  text-align: center;
}

.point_tb {
  clear: both;
  float: right;
  width: 350px;
  text-align: right;
}

.reculc {
  text-align: right;
  margin: -10px 0 20px;
  font-size: 80%;
  color: #999999;
}

.tb_t {
  width: 700px;
}

.notice {
  margin: 10px 0;
}

.m_top {
  margin-top: 10px
}

/*---complete---*/

.comp {
  text-align: center;
  font-size: 140%;
  font-weight: bold;
  margin: 40px 0 10px;
}

.comp_s {
  width: 420px;
  margin: 0 auto 30px;
  line-height: 130%;
}

.inq {
  width: 300px;
  margin: 0 auto 20px;
}

.inq dt {
  text-align: center;
  padding: 3px 0 7px;
}

.inq dd {
  padding: 2px 0;
}

/*---Payment Delivery time---*/
#pt_box {
  background: url(/images/cart/cart_bg.gif) repeat-y;
  width: 545px;
  margin: 0 auto 30px;
}

#payment {
  width: 260px;
  float: left;
}

#time {
  width: 260px;
  float: right;
}

#payment dd,
#time dd {
  padding: 0 20px;
}

#payment dd p,
#time dd p {
  line-height: 120%;
}

#payment ul {
  margin: 15px;
}

#payment li {
  margin: 5px;
}

#time select {
  margin: 40px 0 20px 15px;
  width: 100px;
}
.must {
  color: #ff0000;
}
.btn_s {
  border: 1px solid #999999;
}
.errorExplanation {
  width: 692px;
  padding: 10px;
  border: 1px solid #ff0000;
  margin: 5px 0;
  color: #ff0000;
}


#cart .my_btn input,
#cart .my_btn2 input {
border:  none;
}

.my_btn2 input,
.my_btn2 img {
  float: left;
  display: block;
  margin: 0 7px;
}

* html .my_btn2 {
  margin: 0 auto;
  width: 250px;
}

.my_btn3 {
  margin:0 auto;
  width: 135px;
}
