@charset "utf-8";

.main_box {
  background: url(/images/common/box_bg.gif) repeat-y;
}

/*------�J�e�S���̟��-------*/
#main_search {
  padding: 7px 20px;
}

#main_search dl {
  margin: 0;
}

#main_search dt {
  float: left;
  width: 100px;
  padding: 8px 0;
}

#main_search dd {
  float: left;
  width: 390px;
  padding: 5px 0;
}

#main_search li {
  float: left;
  margin-right: 5px;
  padding: 1px 5px 0 0;
  border-right: 1px solid #222222;
}

#main_search li.last {
  border-right: none;
}

.main_search_area {
  height: 16px;
  padding: 2px;
  border: 1px solid #aaaaaa;
}

#main_search dd.search_dd {
  padding: 0;
}

.main_search_btn {
  margin-bottom: -4px;
}

/*------�y�[�W���[-------*/
#pager_box {
  padding-bottom: 7px;
  margin-bottom: 10px;
  border-bottom: 1px solid #aaaaaa;
}

#pager_btm {
  padding-top: 7px;
  border-bottom: 0;
  border-top: 1px solid #aaaaaa;
}

#pager_btm p,
#pager_box p {
  float: left;
}

ol.pager {
  float: right;
}

ol.pager li {
  float: left;
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px #999999 solid;
}

ol.pager li.prev {
  border-left: none;
}

ol.pager li em {
  font-weight: bold;
}

/*------�J�e�S�����i�ꗗ-------*/
#ctgr_box {
  margin-bottom: 15px;
}

#ctgr_box li {
  display: inline-block;
  vertical-align: top;
  width: 120px;
  margin: 4px;
}

* html #ctgr_box li {
  margin: 7px 5px;
  display: inline;
}

#ctgr_box li a img {
  border: 1px solid #aaaaaa;
}

#ctgr_box li a:hover img {
  border: 1px solid #FFB6C3
}

#ctgr_box dl {
  margin-top: 5px;
}

#ctgr_box dt {
  line-height: 110%;
}

#ctgr_box dd {
  text-align: right;
}

/*------�����L���O�ꗗ-------*/
.rank_t {
  width: 490px;
  height: 41px;
  background: url(/images/category/rank_t_bg.gif) no-repeat;
  padding-left: 40px;
  line-height: 41px;
  font-size: 130%;
  font-weight: bold;
}

#ctgr_box li.rank1 {
  background: url(/images/category/rank1.gif) no-repeat center top;
  padding-top: 30px;
  margin-top: 5px;
}

#ctgr_box li.rank2 {
  background: url(/images/category/rank2.gif) no-repeat center top;
  padding-top: 30px;
  margin-top: 5px;
}

#ctgr_box li.rank3 {
  background: url(/images/category/rank3.gif) no-repeat center top;
  padding-top: 30px;
  margin-top: 5px;
}

#ctgr_box li.rank4 {
  background: url(/images/category/rank4.gif) no-repeat center top;
  padding-top: 30px;
  margin-top: 5px;
}

