@charset "utf-8";
/*------reset------*/
body, div, h1, h2, h3, h4, h5, h6,
p, brockquote, pre, address,
ul, ol, li, dl, dt, dd,
table, th, td,
form, fieldset {
  margin: 0;
  padding: 0;
  line-height:1;
  font-size:100%;
  font-style:normal;
  font-weight:normal;
}

img {
  border: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.clearfix { display: inline-block; }
.clearfix { display: block; }

.clear { clear: both; }

html {
  height: 100%;
  overflow-y: scroll;
}

li { list-style-type: none; }
textarea { font-size: 100%; }

/*------link color------*/
a {
  text-decoration: none;
  font-weight: normal;
}
a:link { color: #990066; }
a:visited { color: #990066; }
a:hover {
  color: #ff0066;
  text-decoration: underline;
}
a:active { color: #ff0066; }

/*-------------margin------------*/
.m_top {
 margin-top: 10px;
}

.m_btm {
 margin-bottom: 10px;
}

.m_left {
 margin-left: 10px;
}

/*-------------text-align------------*/
.txt_c {
 text-align: center;
}

.txt_r {
  text-align: right;
}

/*---------------all--------------*/
body {
  width: 100%;
  height: 100%;
  background: url("../../images/common/body_bg.gif") repeat-x;
  font-family: Verdana, Osaka, "ＭＳ Ｐゴシック","MS PGothic", Sans-serif;
  font-size: 75%;
}

html>/**/body {
  font-size: 12px;
}

#wrapper {
  width: 970px;
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid #a7a696;
  border-left: 1px solid #a7a696;
  margin: 0 auto;
  padding: 10px 10px 88px;
}

body > #wrapper {
  height: auto;
  min-height: 100%;
}

#container {
  width: 955px;
  background: #ffffff url("../../images/common/container_bg.gif") repeat-y left 0;
  margin-left: 5px;
  padding: 0 10px 10px 0;
}

/*-----------header-----------*/
#header {
  width: 970px;
  height: 70px;
  margin-bottom: 10px;
  background: url("../../images/common/header_bg.jpg") no-repeat;
}

#header h1 {
  width: 160px;
  float: left;
  padding: 20px 0 0 30px;
}

#store_desc {
  float: left;
  width: 500px;
  height: 70px;
  position: relative;
}

#store_desc span {
  padding: 2px 0 14px 0;
  position: absolute;
  bottom: 0;
}

#my_menubox {
  float: right;
  width: 238px;
  height: 55px;
  padding-top: 15px;
}

#my_menubox p {
  height: 14px;
}

#log {
  margin-left: 20px;
}

#my_menu {
  float: right;
  margin-top: 5px;
}

#my_menu li {
  float: left;
  margin-right: 15px;
}

/*------column------*/
#left_box {
  float: left;
  width: 745px;
  padding-left: 5px;
}

#l_sub {
  float: left;
  width: 200px;
}

#main {
  float: left;
  width: 530px;
  margin: 0 0 0 10px;
}

#r_sub {
  float: right;
  width: 200px;
}

/*-----------side-column-----------*/
#bread_list li {
  display: inline;
  padding-left: 20px;
  background: url("../../images/common/gt.gif") no-repeat 6px center;
}

#bread_list li.bread_top {
  background-image: none;
  background-image: url();
  margin-left: -20px;
}
.main_t {
  width: 485px;
  height: 43px;
  margin-bottom:  10px;
  padding-left: 45px;
  font-size: 130%;
  font-weight: bold;
  background: url(../../images/common/title_bg.gif) no-repeat;
  line-height: 43px;
}

/*------left side column------*/
.side_box {
  background: url("../../images/common/side_bg_mid.gif") repeat-y;
}

#h3_t {
  margin-top: 10px;
  width: 200px;
  height: 32px;
}

.banner li {
  margin-top: 10px;
}

.side_hr {
  height: 2px;
  margin-bottom: 7px;
  border: 0 none;
  background: url("../../images/common/side_hr.gif") no-repeat;
}

.side_hr hr {
  display: none;
}

/*------search items (under layer)------*/
#category_list li img {
  vertical-align: top;
}

.search_box {
  width: 120px;
  height: 20px;
  margin: 10px 0 5px 10px;
  border: 1px solid #999999;
  vertical-align: bottom;
}

.search_btn {
  vertical-align: bottom;
  margin: 5px 0 6px 3px;
}


/*---category list---*/
#category_list_box {
  background: url("../../images/common/side_bg_mid.gif") repeat-y;
  padding: 10px 10px 5px;
}

.category_list_s li {
  margin: 0 0 5px 10px;
}

/*------right side column------*/
.side_box_r {
  background: url("../../images/common/side_bg_mid.gif") repeat-y;
  padding: 6px 10px;
}

#category_list li img {
  vertical-align: top;
}

#login_box {
  width: 176px;
  padding: 10px 12px;
}

/*------log in form------*/
.login_t {
  margin-bottom: 5px;
  padding-left: 6px;
  border-left: 3px solid #fbaf5d;
}

.login_form {
  margin-bottom: 7px;
  border: 1px solid #999999;
  width: 172px;
  height: 20px;
}

.login_btn {
  width: 77px;
  margin: 0 50px 7px;
}

#remind {
  background: url("../../images/common/list_pink.gif") no-repeat;
  margin-bottom: 5px;
  padding-left: 14px;
}

/*--------cart--------*/
#cart_box img {
  display: block;
  width: 143px;
  margin: 0 auto;
}

#cart_info {
  width: 143px;
  margin: 5px auto;
  padding: 3px 0;
  background-color: #ffffff;
  text-align: center;
}

/*----------information----------*/
#info_box li {
  padding: 3px 0 3px 15px;
  background: url("../../images/common/list_pink.gif") no-repeat 0 6px;
  line-height: 120%;
}

/*----kuchikomi ranking-----*/
#kuchikomi_box {
  background: url("../../images/common/side_bg_mid.gif") repeat-y;
  padding: 0 10px 6px;
}

#kuchikomi_box li {
  background: url("../../images/common/side_hr.gif") no-repeat 0 bottom;
  padding: 5px 0;
}

.kuchi_img {
  display: inline-block;
  display: -moz-inline-box;
  vertical-align: middle;
  width: 37px;
  height: 36px;
}

.kuchi_t {
  display: inline-block;
  display: -moz-inline-box;
  vertical-align: middle;
  width: 130px;
}

* html .kuchi_img,
* html .kuchi_t {
  display: inline;
  zoom: 1;
}

*:first-child+html .kuchi_img,
*:first-child+html .kuchi_t {
  display: inline;
  zoom: 1;
}

#kuchikomi_box p {
  width: 141px;
  line-height: 110%;
  padding-bottom: 2px;
}

#kuchikomi_box p.kuchi_txt {
  width: 178px;
}

/*--category ranking (under layer)--*/
#h3_t_rank {
  width: 200px;
  height: 22px;
  margin-top: 10px;
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 110%;
  background: url("../../images/common/rank_t_bg.gif") no-repeat;
}

/*----recentry checked----*/

#check_box li {
  width: 150px;
  margin: 5px auto;
}

#check_box li img {
  display: block;
  width: 90px;
  margin: 0 auto 5px;
  border: 1px solid #aaaaaa;
}

#check_box dd {
  text-align: right;
}

/*--------table--------*/
.tb_t {
  width: 505px;
  margin-bottom: 5px;
  padding: 3px 0 3px 6px;
  border-left: 4px solid #ff9775;
  font-size: 120%;
  clear: both;
}

.tb_desc {
  padding: 5px 0;
  line-height: 120%;
}

.tb1,.tb2 {
  width: 715px;
  margin-bottom: 15px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #999999;
}

.tb1 th {
  padding: 6px;
  border: 1px solid #999999;
  background-color: #fdc2c9;
  vertical-align: center;
  text-align: center;
}

.tb2 th {
  padding: 6px;
  border: 1px solid #999999;
  background-color: #fdc2c9;
  vertical-align: center;
  text-align: left;
}

.tb1 td,
.tb2 td {
  padding: 6px;
  background-color: #ffffff;
  border: 1px solid #999999;
  vertical-align: center;
}

.cntr {
  text-align: center;
}

.t_left {
  text-align: left;
}

.t_right {
  text-align: right;
  border: 0;
}

.my_btn {
  width: 101px;
  margin: 0 auto;
}

.my_btn2 {
  width: 230px;
  margin: 0 auto;
}

.my_btn2 img {
  margin: 0 7px;
  float: left;
}

/*----------footer----------*/
#footer {
  position: relative;
  width: 970px;
  height: 88px;
  margin: -88px auto 0;
  background: url("../../images/common/footer_bg.gif");
}

#foot_l {
  float: left;
  width: 840px;
  margin-left: 20px;
  display: table-cell;
  position: absolute;
  top: 37%;
  left: 20px;
}

#foot_list li {
  float: left;
  padding: 1px 7px 0;
  border-left: 1px solid #aaaaaa;
}

#foot_list .last {
  border-right: 1px solid #aaaaaa;
}

#foot_r {
  float: right;
  position: absolute;
  top: 37%;
  left: 860px;
}

#footer address {
  font-size: 80%;
  color: #666666;
  margin-top: 5px;
}

#foot_list a:link { color: #666666; }
#foot_list a:visited { color: #666666; }

.pnt {
  color: #cc3300;
  font-weight: normal;
}

#entry .my_btn input,
#entry .my_btn2 input,
#mypage_main .my_btn input,
#mypage_main .my_btn2 input,{
border:  none;
}
