@charset "utf-8";

#container {
  background: url();
  width: 735px;
  margin: 0 auto;
}

.main_t {
  width: 690px;
  background: url(../../images/common/main_t_l.gif) no-repeat;
}

#entry {
  width: 715px;
  margin: 0 auto;
}

.agreement_t {
  padding: 20px 0 10px;
  text-align: center;
  font-weight: bold;
}

.notice {
  margin: 5px 0 10px;
  color: #ff0000;
}

.must {
  color: #ff0000;
}

#agreement {
  display: block;
  width: 530px;
  margin: 0 auto 10px;
  height: 250px;
  border: 1px solid #999999;
}

.agreement_box {
  margin-bottom: 40px;
  line-height: 130%;
}

.agreement_box p {
  margin: 4px 0;
}

.errorExplanation {
  width: 495px;
  padding: 10px;
  border: 1px solid #ff0000;
  margin: 5px 0;
  color: #ff0000;
}

/*---form parts---*/
#entry input,
#entry select {
  border: 1px solid #999999;
}

#entry .radio {
  border: none;
}

.form_s {
  width: 80px;
  margin-right: 10px;
}

.form_m {
  width: 130px;
  margin-right: 10px;
}

.form_l {
  width: 350px;
  margin-right: 10px;
}

.form_y {
  width: 70px;
  margin-right: 10px;
}

.form_md {
  width: 45px;
  margin-right: 10px;
}

.m_left {
  margin-leftt: 5px;
}

.deli_t {
  margin: 10px 0 5px;
}

.deli_t input {
  border: none;
}

/*---complete---*/

.comp {
  text-align: center;
  font-size: 140%;
  font-weight: bold;
  margin: 40px 0 10px;
}

.comp_s {
  text-align: center;
  margin-bottom: 30px;
  line-height: 130%;
}

#entry .my_btn input,
#entry .my_btn2 input {
  border: none;
}
