@charset "utf-8";

#container {
  background: url();
  width: 735px;
  margin: 0 auto;
}

.main_t {
  width: 690px;
  background: url(../../images/common/main_t_l.gif) no-repeat;
}

#login_area {
  width: 715px;
  background: url(../../images/login/login_mid.gif) repeat-y;
  margin: 0 auto 40px;
}

#member {
  width: 350px;
  float: left;
}

#join {
  width: 350px;
  float: right;
}

#login_area dt {
  line-height: 0;
  font-size: 0;
}

#login_area dd {
  width: 255px;
  margin: 0 auto;
}

#login_area p {
  padding: 5px 0 0;
  margin-bottom: 10px;
}

.login_form {
  width: 255px;
}

.login_btn {
  display: block;
  margin: 0 auto 7px;
}

#join p {
  line-height: 130%;
}

.new_entry_btn {
  display: block;
  width: 176px;
  margin: 10px auto 10px;
}

.notice {
  padding: 5px 0 0;
  margin-bottom: 10px;
}

.cart_btn {
  display: block;
  width: 143px;
  margin: 10px auto 0;
}
