

#container {
  background: url();
  width: 735px;
  margin: 0 auto;
}
.main_t {
  width: 690px;
  background: url(../../images/common/main_t_l.gif) no-repeat;
}

#retailer {
  width: 715px;
  margin: 0 auto;
}



.data, .data2 {
  width: 710px;
  margin-bottom: 15px;
  border-collapse: separate;
  border-spacing: 0;
  border-right: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
}

/*-------縦列テーブル-------*/
.data2 th {
  padding: 7px;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  text-align: center;
  font-weight: bold;
  color: #666666;
  background-color: #FDC2C9;
}

.data2 td {
  padding: 3px 8px;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  background-color: #ffffff;
}


