@charset "utf-8";

/*--トップ・ヘッダーイメージ--*/
#top_img {
  width: 730px;
  padding: 0 0 10px 10px;
  margin-left: -10px;
  zoom: 1;
  position: relative;
  background-color: #ffffff;
}

/*---------共通要素---------*/
h2 {
  height: 50px;
}

h2.clearfix img {
  float: left;
}

h2.clearfix span.more {
  float: left;
  display: block;
  width: 107px;
  height: 34px;
  padding-top: 16px;
  background: url(../../images/top/title_r.gif) no-repeat;
}

/*-------新着アイテム-------*/
#new_item {
  width: 520px;
  padding: 0 5px 10px;
  background: url(../../images/top/top_bg.gif) repeat-y;
}

#new_item li {
  float: left;
  width: 119px;
  padding: 5px;
  height: 140px;
}

* html #new_item li {
  padding: 4px;
}

#new_item img {
  border: 1px solid #aaaaaa;
}

#new_item p {
  margin-top: 5px;
  line-height: 110%;
}

/*----人気商品ランキング----*/
#ranking {
  width: 509px;
  padding: 0 11px 10px 10px;
  background: url(../../images/top/top_bg.gif) repeat-y;
}

.rank_item {
  border: 1px solid #aaaaaa;
  margin-left: 13px;
}

#ranking li {
  float: left;
  width: 147px;
  margin: 0 11px;
  padding-top: 10px;
}

* html #ranking li {
  margin: 0 9px;
}

.rank1 {
  background: url(../../images/top/rank1_bg.gif) repeat-x;
}

.rank2 {
  background: url(../../images/top/rank2_bg.gif) repeat-x;
}

.rank3 {
  background: url(../../images/top/rank3_bg.gif) repeat-x;
}


.rank_img {
  display: inline-block;
  display: -moz-inline-box;
  vertical-align: middle;
  width: 44px;
  height: 41px;
}

.rank_t {
  display: inline-block;
  display: -moz-inline-box;
  vertical-align: middle;
  width: 99px;
}

* html .rank_img,
* html .rank_t {
  display: inline;
  zoom: 1;
}

*:first-child+html .rank_img,
*:first-child+html .rank_t {
  display: inline;
  zoom: 1;
}

#ranking p {
  width: 99px;
  line-height: 110%;
  padding: 2px 0 1px;
}

/*-----おすすめアイテム-----*/
#reco_item {
  width: 510px;
  padding: 0 10px;
  background: url(../../images/top/top_bg.gif) repeat-y;
}

#reco_item li {
  float: left;
  width: 235px;
  min-height: 95px;
  height: auto !important;
  height: 95px;
  padding: 0 10px;
  margin-bottom: 10px;
}

* html #reco_item li {
  width: 235px;
  padding: 0 10px;
}

#reco_item li img {
  float: left;
  width: 90px;
  border: 1px solid #aaaaaa;
}

#reco_item li dl {
  margin-left: 100px;
}

#reco_item li dt {
  padding-top: 2px;
  margin-bottom: 7px;
}

#reco_item li dd {
  line-height: 120%;
}
