<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<p>登録が完了致しました。</p>
<br />
<ul>
  <li><%= link_to "→続けて登録を行う", new_admin_product_set_path %></li>
  <li><%= link_to "一覧へ戻る", admin_product_sets_path %></li>
</ul>

</div><!-- /メイン -->
