<%- unless @new_informations.blank? -%>
  <%- @new_informations.each do | ni | -%>
    <%- if ni.url.blank? -%>
      <%= ni.name %>
    <%- else -%>
      <%= link_to_new_information ni, :name=>%(<span style="color:#{link_color};">#{ni.name}</span>) %>
    <%- end -%>
<br />
    <%= h_br(ni.body)  %>
<br /><br />
  <%- end -%>
<%- end -%>
