<%= stylesheet_link_tag "front/option" %>

<div id="top_img">
<%= image_tag "f_navi_title_04.jpg", :size => "680x290", :alt => "運用会社" %>
</div>

<dl class="company"><!--箱-->

<dt class="brown">商　号</dt>
<dd class="bo">株式会社ケイビーエムジェイ</dd>

<dt class="brown">本　社</dt>
<dd>〒150-0021 東京都渋谷区恵比寿西 2丁目20番3号 代官山CAビル 1F  </dd>

<dt class="brown">U R L</dt>
<dd><a href="http://www.kbmj.com/">http://www.kbmj.com/</a></dd>

<dt class="brown">設　立</dt>
<dd>2000年7月18日</dd>

<dt class="brown">資本金</dt>
<dd>4億 4818万円 </dd>

<dt class="brown">事業内容</dt>
<dd>各種WEBパッケージ開発・販売</dd>
<dd>WEB/ケータイシステム開発 、ネットワーク構築</dd>
<dd>各種webサービスの企画・運営</dd>
</dl>

<p class="line" /><!--箱-->

</dd>
</dl>

<p class="line" /><!--箱-->
