<% @category_name = 'ﾒﾝﾃﾅﾝｽのお知らせ' %>
<b><font color="#ef2020">ﾒﾝﾃﾅﾝｽのお知らせ</font></b>
<hr />
(c)K&Bｽﾀｲﾙをご利用いただき、誠にありがとうございます。<br />
<br />
下記の期間、ｼｽﾃﾑ調整のためｻｲﾄのﾒﾝﾃﾅﾝｽをさせていただきます。<br />
ﾒﾝﾃﾅﾝｽ中、ｻｲﾄをご利用になれません。<br />
ご迷惑をおかけいたしますが、何卒ご理解いただけますようお願い申し上げます。<br />
<br />
<b>期間</b><br />
2008年12月15日13時半～<br />
2008年12月15日14時(予定)<br />
※ﾒﾝﾃﾅﾝｽ終了とともに再開いたします。<br />
<b>ｻﾎﾟｰﾄ</b><br />
ﾒﾝﾃﾅﾝｽと関わらず、すでにご購入いただいた商品は順次発送の準備を進めさせていただきます。<br />
<br />
K&B style<br />
<a href="tel:0311111111">03-1111-1111</a><br />
<a href="mailto:faq@example.com">faq@example.com</a><br />
10:00～18:00(土日祝を除く)<br />
<hr />
<%= link_to_mobile 'TOPに戻る', {:controller => 'portal', :action => 'show'}, :accesskey => 0 %><br />
