<% @category_name = '年末年始のお知らせ' %>
<b><font color="#ef2020">年末年始のお知らせ</font></b>
<hr />
(c)K&Bｽﾀｲﾙをご利用いただき、誠にありがとうございます。<br />
<br />
12月27日から1月4日まで、誠に勝手ながら商品の送付及びお問合せを休止させていただきます。<br />
1月5日10時より通常通りの営業を再開させて頂きますので､引き続きお引き立てのほどを宜しくお願い致します。<br />
<br />
<b>期間</b><br />
2008年12月27日～2009年1月4日<br />
<!--
<b>ｻﾎﾟｰﾄ</b><br />
<br />
-->
<br />
K&B style<br />
<a href="tel:0311111111">03-1111-1111</a><br />
<a href="mailto:faq@example.com">faq@example.com</a><br />
10:00～18:00(土日祝を除く)<br />
<hr />
<%= link_to_mobile 'TOPに戻る', {:controller => 'portal', :action => 'show'}, :accesskey => 0 %><br />
