<div style="text-align:center;"><h4>ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ</h4></div>

<hr noshade="noshade" color="ORANGE"/>

株式会社K&amp;B style（以下、「当社」という。）は、エンドユーザー向けのプライバシー及び個人情報保護の重要性を強く認識し、次のとおり個人情報保護方針を定め、個人情報の適性管理に努めてまいります。<br />
<br />
<span style="color:#ff0000;">1.個人情報の取得・利用・提供に関する事項</span><br />
<br />
(1)当社へ個人情報をご提供いただく場合には、あらかじめその利用目的を明示し、目的の範囲内でのみ利用します。また、明示された目的の範囲を超えて利用する場合には、事前にご本人様にご連絡の上同意を得るものとします。<br />
<br />
(2)当社で取得した個人情報の利用目的は、以下の通りになります。<br /><br />
・各種会員制サービスへの登録の確認やメールマガジンなど各種サービスのご提供のため<br />
・応募頂いたプレゼントなどの抽選、発送のため<br />
・商品発送のため<br />
・各種統計データを作成するため<br />
・受託業務を遂行するため<br />
・採用可否判断のため<br />
<br />
(3)当社自ら取得したものに限らず、第三者から委託された業務に関連して、個人情報を含むデータの預託を受けた場合は、当社自ら保有する個人情報同様にこれを管理するとともに当該業務の目的に沿って必要な範囲内でのみ利用します。また、お預かりした個人情報の処理を外部に委託する場合には、社内ルールに則り、情報の安全管理が確保されると確認された委託先を選定し、適切な監督を実施します。<br />
<br />
(4)当社で保管する個人情報は、下記の場合を除き第三者への提供はいたしません。<br /><br />
・ご本人の同意がある場合<br />
・法令などに基づき個人情報の開示を要請された場合<br />
・人の生命、健康、財産などの重大な利益を保護するために必要な場合<br />
・その他法令により開示が認められる場合<br />
<br />

<span style="color:#ff0000;">2.個人情報の安全に関する事項</span><br />
<br />
(1)当社は、個人情報への不正アクセス、紛失、破壊、改ざん、漏えい等のトラブルを引き起こさないために、合理的な安全対策を実施し、防止及び是正に努めます。<br />
<br />
(2)当社が管理する個人情報について、ご本人様が確認または訂正・削除を希望される場合には、担当窓口が迅速に対応させていただきます。なお、ご本人様であると確認できた場合に限り対応させていただくものとし、第三者による個人情報の不正な改ざんを防ぎます。なお、ご本人様であることの確認のため、改めて個人情報の提出をお願いする場合がございます。<br />
<br />

<span style="color:#ff0000;">3.法令・国が定めるその他の規範の遵守に関する事項</span><br />
<br />
(1)個人情報の取扱いに関しては、個人情報保護に関する日本の法令・国が定めるその他の規範を遵守します。<br />
<br />

<span style="color:#ff0000;">4.個人情報保護に関する個人情報保護マネジメントシステムの策定および改善に関する事項</span><br />
<br />
(1)JIS Q 15001 : 2006規格に準拠した個人情報に関する個人情報保護マネジメントシステムを策定し、役員及びすべての従業員が実施してまいります。<br />
<br />
(2)個人情報保護に関する個人情報保護マネジメントシステムは、関連する法令・規範の改正や社会的環境の変化に伴い、継続的に改善を行ってまいります。<br />
<br />

<span style="color:#ff0000;">5.苦情及び相談受付窓口</span><br />
<br />
当社の個人情報保護マネジメントシステムに関するご相談及び苦情については、以下までご連絡下さい。<br />
<br /><br />
●お電話による場合<br />
K&amp;B style 個人情報保護管理者<br />
03-6619-1207（代表）<br />
＊受付時間 平日午前10時～12時 午後1時～5時<br />
<br />
●お手紙による場合<br />
〒150-0021<br />
東京都渋谷区恵比寿西2-20-3<br />
代官山CAビル1F<br />
K&amp;B style 個人情報保護管理者<br />
<br />
●電子メールによる場合<br />
K&amp;B style 個人情報保護管理者 <a href="mailto:mailtest@sofmap.reji">mailtest@sofmap.reji</a><br />
<br />
●ご来社について<br />直接ご来社いただいてのお申出はお受けできませんので、ご了承下さい。<br /><br />
→<%= link_to 'お問い合わせ', {:controller => 'inquiries', :action => 'new'} %><br />
<br />
<hr />

<div align="right" style="text-align:right">文書番号:6-00-02<br />
初版：2005年 4月 1日<br />
改訂：2008年10月10日</div>

<br />
<div style="font-weight:bold;text-align:center;">個人情報の取扱いについて</div>
<hr noshade="noshade" color="ORANGE"/>
K&amp;B style（以下「当社」といいます）が取得、利用させて頂く個人情報の取扱いに関しては、以下の通りと致します。<br />
<br />
<span style="color:#ff0000;">１．個人情報保護管理者</span><br />
当社は以下の個人情報保護管理者を設置し、個人情報保護管理者の責任のもと、個人情報を取得・アクセス・利用・提供・共同利用・管理いたします。<br />
個人情報保護管理者<br />
氏名：山田 太郎<br />
役職：社長<br />
<br />
<span style="color:#ff0000;">２．利用目的</span><br />
当社が取り扱う開示対象個人情報の利用目的は次のとおりです。<br />
当社のサービスをご利用の方の個人情報<br />
1. メルマガ配信のため<br />
2. プレゼント抽選、発送のため<br />
3. 統計データ作成のため<br />
4. 注文、請求確認及び商品発送のため<br />
5. サービス提供のため<br />
当社へ入社を希望される方の個人情報<br />
1. 採用選考のため<br />
2. 連絡のため<br />
3. 入社手続きのため<br />
上記以外で、当社へお問い合わせされた方の個人情報<br />
1. お問い合わせに対応するため<br />
2. 取引先管理のため<br />
3. 全株主把握のため<br />
<br />
<span style="color:#ff0000;">３．個人情報の第三者提供について</span><br />
当社は、取得した個人情報を適切に管理し､あらかじめ本人の同意を得ることなく第三者に提供することはありません。ただし、次の場合は除きます。<br />
・法令に基づく場合<br />
・人の生命､身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき。<br />
・公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難である場合。<br />
・国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき。<br />
<br />
<span style="color:#ff0000;">４．役員、個人株主情報の公開・提供について</span><br />
法令に基づき当社の役員・個人株主に関する個人情報を公開・提供（株主総会で配布する資料に掲載する等）する場合、本人に対して以下を通知もしくは公表いたします。また、本人の求めに応じて当該本人が識別される個人情報の第三者提供を停止いたします。<br />
・利用目的：会社法に基づく株主名簿の管理のため<br />
・第三者に提供する個人情報：氏名、住所<br />
・第三者への提供の手段又は方法：郵送<br />
・取得方法：直接本人から取得<br />
<br />
<span style="color:#ff0000;">５．開示対象個人情報の開示、訂正（追加・削除）、利用停止（消去）、第三者提供の停止ついて</span><br />
  開示対象個人情報については、原則保有個人データの本人のみからの開示、訂正、利用停止、第三者提供の請求に対応させていただきます。<br />
<br />
(1) 個人情報に関するお問合せ先開示等の請求は下記宛、所定の申請書に必要書類を添付の上、郵送によりお願い申し上げます。なお、封筒には朱書きで「開示等請求書類在中」とお書き添えいただければ幸いです。<br />
<br />
〒150-0021<br />
東京都渋谷区恵比寿西2-20-3<br />
代官山CAビル1F<br />
K&amp;B style<br />
個人情報保護管理者<br />
03-6696-1207（代表）<br />
<br />
(2) ご請求内容<br />
・ 当社が保有している個人データの利用目的通知の関する開示請求<br />
・ 当社が保有している個人データの開示請求<br />
・ 当社が保有している個人データの内容訂正、追加又は削除に関する請求<br />
・ 当社が保有している個人データの利用停止又は消去に関する請求<br />
・ 当社が保有している個人データの第三者提供の停止に関する請求<br />
<br />
(3) お手続きの方法<br />
「開示等の求め」を行う場合は、上記(1)にお問合せいただき、請求用紙をご請求いただくか、次の申請書(Ａ)をダウンロードし、所定の事項を全てご記入の上、本人確認のための情報(Ｂ)を同封し上記(1)宛にご郵送ください。<br />
<br />
Ａ 当社所定の申請書<br />
・ 個人情報開示等依頼書<br />
<br />
Ｂ 本人確認のための情報<br />
・ 当社サービスご利用のお客様<br />
メールアドレス、ＩＤ、名前<br />
<br />
・ 当社より商品をお買い上げのお客様<br />
氏名、電話番号、住所<br />
<br />
・ 当社へ入社を希望される方<br />
応募媒体名、職種、氏名<br />
<br />
・ 上記以外で、当社へお問合せされた方<br />
メールアドレス、氏名、住所<br />
<br />
(4) 「開示等の求め」の手数料について<br />
Ａ 1件の申請ごとに下記手数料、郵送料が必要です。<br />
手数料：500円<br />
郵送料：600円（内訳：定型80円、書留420円、本人限定受取郵便100円 平成20年10月現在）<br />
※上記郵送料は国内郵便の場合の費用です。国外への郵送の場合は実費をご負担いただきます。<br />
※手数料・郵送料が不足していた場合、および手数料・郵送料が同封されていなかった場合は、その旨ご連絡申し上げますが、所定の期間内にお支払いがない場合は、開示の求めがなかったものとして対応させていただきます。<br />
<br />
Ｂ 手数料などの支払い方法について<br />
費用のお支払い方法は、手数料および郵送料分の郵便定額小為替を申請書類に同封してください。（郵便局にお支払いいただく手数料は申請者のご負担です。また郵便小為替は無記名でお願いします。）<br />
なお、郵送料は郵便定額小為替に代えて同額分の切手でお支払いいただくこともできます。その場合も、手数料500円は郵便定額小為替でお支払いください。<br />
<br />
(5) 「開示等の求め」に対する回答方法<br />
原則として申請書記載住所宛に書面によってご回答申し上げます。<br />
<br />
(6) 「保有個人データ」の非開示事由について<br />
次に定める場合は、非開示とさせていただきます。非開示を決定した場合、その旨、理由を付記してご通知申し上げます。<br />
・ 申請書に記載されている住所、本人確認のための書類に記載されている住所、当社に登録されている住所が一致しないときなど本人が確認できない場合<br />
・ 所定の申請書類に不備があった場合<br />
・ 開示の求めの対象が開示対象個人情報に該当しない場合<br />
・ 本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合<br />
・ 当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合<br />
・ 他の法令に違反することとなる場合<br />
 <br />
(7) 本人以外の代理人よる場合<br />
当社は、原則本人以外からの開示等の求めには応じませんが、以下の場合に限り対応させていただきます。<br />
なお、その場合、「本人確認のための情報」の他に、情報提供者との関係性等を証明出来る情報の提出をお願いする場合がございます。<br />
<br />
・ 本人からの代理人として委任されたことが明確である場合の開示等の求め<br />
・ 情報提供者が子供である場合の保護者からの開示等の求め<br />
<br />
<span style="color:#ff0000;">６．苦情及び相談窓口</span><br />
当社は、ご提出いただいた個人情報に関する苦情、相談、及びその他のお問い合わせに、適切、かつ迅速に対応致します。<br />
ご提出いただいた個人情報に関する苦情、相談は下記までお申し付けください。<br />
<br />
●お電話による場合<br />
K&amp;B style 個人情報保護管理者 03-6696-1207（代表）<br />
※受付時間<br />
平日 午前10時～12時 午後1時～5時<br />
<br />
●お手紙による場合<br />
〒150-0021<br />
東京都渋谷区恵比寿西2-20-3<br />
代官山CAビル1F<br />
K&amp;B style<br />
個人情報保護管理者<br />
<br />
●電子メールによる場合<br />
K&amp;B style<br />
個人情報保護管理者<br />
<a href="mailto:mailtest@sofmap.reji">mailtest@sofmap.reji</a><br />
<br />
●ご来社について<br />
直接ご来社いただいてのお申し出はお受け出来ませんので、ご了承下さい。<br />
<br />
<span style="color:#ff0000;">７．認定個人情報保護団体</span><br />
当社の認定個人情報保護団体の名称及び、苦情の解決の申出先はございません。<br />
<br />
<span style="color:#ff0000;">８. その他、ご注意いただきたい事項</span><br />
当社の各サイトは、他社のサイトへのリンクを含んでいます。当社は、個人情報に関する当社からの業務委託により運営されているリンク先企業のサイト以外は、個人情報保護やサイトへの内容に関して責任を負いかねます。<br />
<div align="right" style="text-align:right">以上</div>
<br />
※ 公表事項は事業の実施に伴い適宜、追加・更新いたします。個人情報取扱いについての考え方も必要に応じて更新いたします。<br />

<hr noshade="noshade" color="ORANGE"/>
<%= link_to 'TOPページへ', {:controller => 'portal', :action => 'show'} %><br />
