<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->
  
  <h2>アイテムマスタ設定テンプレート</h2>
  
  <h3>テンプレートの新規作成</h3>
  <br />
  <% form_for @service_cooperations_template, :url=>{:action=>"confirm"} do |f| %>
    <%= render :partial => "form", :locals => {:f => f} %>
    <div class="btn_box">
      <%= f.submit "新規作成", :class=>"btn" %>
      <%= image_tag("btn_side.gif", :width => "6", :height => "34", :class => "btn_side") %>
    </div>
  <% end %>

</div>
