<h1>EC</h1>
<h2>MYページ</h2>
<div id="mynavarea"></div>
<div id="history"><%= link_to '購入履歴一覧', :action=>'history_list' %></div>
<div id="setting"><%= link_to '会員登録内容変更', :action=>'setting' %></div>
<div id="address"><%= link_to 'お届け先追加・変更', :action=>'address_list' %></div>
<div id="withdraw"><%= link_to '退会手続き', :controller=>'account', :action=>'withdraw' %></div>
<h3>お届け先詳細</h3>

