<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>MYページTOP</title>
 </head>
 <body>
  <center><h3>MYページTOP mobile</h3></center>
  <hr />
  <div id="mynavarea" align=center>ようこそ ○○ ○○ 様<br/>
  いつもご利用いただき<br />ありがとうございます。</div><br />
  <div id="history">・<%= link_to '購入履歴一覧', :action=>'history_list_mobile' %></div>
  <div id="setting">・<%= link_to '会員登録内容変更', :action=>'setting_mobile' %></div>
  <div id="address">・<%= link_to 'お届け先追加・変更', :action=>'address_list_mobile' %></div>
  <div id="withdraw">・<%= link_to '退会手続き', :controller=>'account', :action=>'withdraw_mobile' %></div>
 </body>
</html>

