<div id="sub"><!-- サブカラム -->
  <div id="menu" class="clearfix"><!-- メニュー -->
    <p><%= image_tag("menu_icon.gif", :width => "36", :height => "36", :alt => "", :id => "img1") %><span>お知らせ</span></p>
    <dl class="info">
      <dt>2009/12/14</dt>
      <dd>ECサイト構築パッケージ「エレコマ」がリリースされました。</dd>
    </dl>
  </div><!-- /メニュー -->
</div><!-- /サブカラム -->

