<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<p>登録が完了致しました。</p>
<br />
<ul>
  <li><%= link_to "→続けて登録を行う", new_admin_product_path %></li>
  <li><%= link_to "→この商品の規格を登録する" , new_admin_product_style_path(:id=>@product.id) %></li>
  <li><%= link_to "一覧へ戻る", admin_products_path %></li>
</ul>

</div><!-- /メイン -->
