/*
	root element for the scrollable.
	when scrolling occurs this element stays still.
*/
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;
	width: 80%;
	height:90px;
}

div.big{
	/* required settings */
	width: 224px !important;
	height:224px !important;
}

.scrollableOuter {
	width:100%;
	margin-bottom: 10px;
}

.centerScrollable {
	width:285px;
	margin:0px auto;
}

/*
	root element for scrollable items. Must be absolutely positioned
	and it should have a extremely large width to accommodate scrollable items.
	it's enough that you set width and height for the root element and
	not for this element.
*/
.scrollable .items {
	/* this cannot be too large */
	width:2000px;
	position:absolute;
}

/*
	a single item. must be floated in horizontal scrolling.
	typically, this element is the one that *you* will style
	the most.
*/
.items div {
	float:left;
}