<div style="text-align:center;"><h4>お問い合わせフォーム</h4></div>

<hr />

<br />

<div style="text-align:center" %><%=h flash[:notice] %></div>

<br />

<div style="text-align:center" %><%= link_to 'TOPページへ', :controller=>'/' %></div>

<hr noshade="noshade" color="ORANGE"/>
