<div>
	<%if (!@privacy.blank? && !@privacy.content_collect_mobile.blank?)%>
	<%= @privacy.content_collect_mobile %>
	<%end%>
</div>

<hr noshade="noshade" color="ORANGE"/>

→<%= link_to '戻る', :controller => "inquiries", :action => "show" %><br />
→<%= link_to '個人情報の取り扱いについて同意した上でお問い合わせ', :controller => "inquiries", :action => "new" %><br /><br />

<hr noshade="noshade" color="ORANGE"/>