<% content_for :head do %>
<%= stylesheet_link_tag "front/entry" %>
<% end %>

<ol id="bread_list" class="m_btm"><li class="bread_top"><a href="/">トップページ</a></li><li>お問い合わせ</li></ol>
<h2 class="main_t">問合せ個人情報の取扱いについて</h2>
<div id="entry">
  <div class="agreement_box">
	<%if (!@privacy.blank? && !@privacy.content_collect.blank?)%>
	<%= @privacy.content_collect %>
	<%end%>
  </div>
  <p class="my_btn2">
    <%= link_to image_tag("/images/common/btn02.gif", :width=>"101", :height=>"28", :alt=>"戻る"), :controller=>'inquiries', :action=>'show' %>
    <%= link_to image_tag("/images/common/ask_btn.gif", :width=>"101", :height=>"28", :alt=>"個人情報の取り扱いについて同意した上でお問い合わせ"), :controller=>'inquiries', :action=>'new' %>
  </p>  
</div>