<br /><h3>その他のオススメ商品</h3><br />
<% @recommend_products.each do | recommend_product | %>
  <% if recommend_product.product %>
  <div id="recommend_product">
	<div id="image"><%= product_image_tag recommend_product.product, :small %></div>
	<div id="profuct_status">
    <p id="product_name"><%= link_to_product recommend_product.product %></p>
    <span id="price">価格: <%= recommend_product.product.price_range.join('～') %>円</span><br />
    <%= recommend_product.description %><br />
	</div>
  </div>
  <% end %>
<% end %>
