<%= stylesheet_link_tag "front/product/review" %>


<h2><%= @product.name %></h2>

<% form_tag :action => "review_complete", :id => @product.id do %>
  <%= render :partial => 'form' %>
<div id="submit">
  <%= submit_tag "登録する" %>
</div>
<% end %>
