<%= javascript_include_tag 'admin/recommend_product' %>

<%= render :partial => "submenu" %>

<div id="main"><!-- メイン -->

<h2>オススメ管理</h2>

<%= render :partial => "form" %>

</div><!-- /メイン -->
