<% unless @feature.body.blank? %>	
<!--説明文 -->
<div><img src="/images/common/box_bg_top.gif" width="530" height="5" alt="" /></div>
<div id="main_comment" class="main_box">
<%=@feature.body%>	
</div>
<div class="m_btm"><img src="/images/common/box_bg_btm.gif" width="530" height="5" alt="" /></div>
<% end %>