<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-style-type" content="text/css">
    <title><%=h @mail_magazine_template.subject %></title>
  </head>
  <body>
<%=h flash[:error] %>
<span>
<% if @mail_magazine_template.form == MailMagazineTemplate::HTML -%>
  <%= @mail_magazine_template.body %>
<% elsif @mail_magazine_template.form == MailMagazineTemplate::TEXT -%>
  <%=h_br @mail_magazine_template.body %>
<% end -%>
</span>
  </body>
</html>
