<div style="text-align:center;"><h4>登録完了ページ</h4></div>

<hr />

<% if @customer %>
<p>登録完了しました。</p>
<p><%= link_to 'ログインページへ', :action => 'login' %></p>
<% else %>
<p>すでに登録完了されているか、URL が違います。</p>
<% end %>
