<div class="sectionHeader">お届け先の追加</div>

<div>
	<div class="text">
		<p>下記項目にご入力ください。「<font color="red">※</font>」印は入力必須項目です。</p>
		<p>入力後、一番下の「確認」ボタンをクリックしてください。</p><br />
	</div>
        <%= error_messages_for :delivery_address %>
        <% form_for :delivery_address, :url => {:action => 'delivery_create'} do |f| %>
          <%= render :partial => 'delivery_form_mobile_smartphone', :locals => {:f => f} %>
          <%= hidden_field_tag 'popup', @popup %>
        <% end %>
</div>