<div class="sectionHeader">会員登録内容変更</div>

<div class="highlightError">
	<%= @customer && error_messages_for(:customer) %>
</div>

<div class="editMessage">
	<span class="important">※</span>は必須項目です。
</div>

<% form_for :customer, :url => {:action => 'edit_confirm'} do |f| %>
      <%= render :partial => "form", :locals => {:f => f} %>
<% end %>
