<div class="sectionHeader">会員登録内容変更完了</div>

<div style="text-align:center;">ご登録内容の変更が完了いたしました。</div>

<div class="my_btn4"><%= link_to('TOPページに戻る', {:controller=>'portal', :action=>'show'}, :class => 'rosy button') %></div>
