<%= render :partial => "base/title", :locals => {:title => "会員登録内容変更完了"} %>

<div style="text-align:center;">ご登録内容の変更が完了いたしました。</div>

<div style="text-align:center;"><%= link_to('TOPページに戻る', :controller=>'portal', :action=>'show') %></div>
