<%= render :partial => "base/title", :locals => {:title => "新規会員登録"} %>

ご注文に際して必要な内容（ご自宅住所等）をご登録していただきます｡<br />
ご利用の規約及び個人情報の取り扱いに関する同意書をよくお読みの上、ご登録下さい。<br /><br />
<%= link_to '(1)会員規約・個人情報の取り扱いに関する同意書を読む', :action => :kiyaku, :position => 1 %><br />
<%= link_to '(2)同意して登録へ', :action => :signup %><br />
<%= link_to '(3)同意しない', :controller=>'/' %><br /><br />

<p><%#= link_to 'ﾄﾞﾒｲﾝ指定受信されているお客様へ', :action => 'regmailst', :return_to=>url_for(:only_path=>false) %><br />
ﾄﾞﾒｲﾝ指定受信されているお客様へ<br />ご登録前にﾄﾞﾒｲﾝ指定受信の設定解除をお願いします。</p>