<div class="sectionHeader">利用規約</div>
<div id="entry">
<div class="text">
  <!-- 会員規約 -->
  <p class="agreement_t">ご利用規約および個人情報の取り扱いに関する同意書</p>

  <div class="agreement_box">
  <% @kiyakus.each do |kiyaku| -%>
    <p><%=h kiyaku.name %></p>
    <p><%=h_br kiyaku.content %></p>
  <% end %>
  </div>

  <div id="termsButtons">
	<div class="floatLeft"><%= link_to "同意しない", {:controller=>'portal', :action=>'show'}, :class=>"rosy button" %></div>
	<div class="floatLeft"><%= link_to "同意する", {:controller=>'accounts', :action=>'signup'}, :class=>"rosy button" %></div>
	<br clear="all" />
  </div>
</div><!-- /entry -->
</div>