<%= render :partial => "base/title", :locals => {:title => "ドメイン指定追加"} %>
<p>
ドメイン指定受信をしている方は、下記のドメインを指定受信リストに加えていください。<br />
<br />
<%= text_field_tag nil, @target_domain %><br />
<br />
設定方法<br />
Y!ｷｰ→MySoftBank→各種変更手続き→ｵﾘｼﾞﾅﾙﾒｰﾙ設定→暗証番号入力→2迷惑ﾒｰﾙ関連設定→1受信許可・拒否設定→許可ﾘｽﾄとして設定→個別ｱﾄﾞﾚｽの追加<br />
→設定する単位に「ﾄﾞﾒｲﾝ(E-mail)」を選択、「このｱﾄﾞﾚｽを有効にする」を選択し、「OK」を押す
</p>
<hr />
<p>
 <%= link_to '会員登録に戻る', {:action => 'kiyaku_intro'}, :accesskey => 0 %><br />
</p>
