<%= stylesheet_link_tag "front/account/reminder" %>

<h2>パスワードを忘れた方</h2>
<div id="complete_area">
下記のパスワードを発行いたしましたので、下記のパスワードをご利用ください。<br />
又、パスワードの変更は会員登録の変更で行えますので、MYページの会員登録変更にて行ってください。
<p id="caption">パスワード：<%=h @password %></p>
「暗号化（SSL）」を使用しています。お客様情報やパスワードは安全に送受信されます。<br /><br />
<div id="submit">
<input id="reminder_complete" type="image" src="/images/account/close.gif" alt="閉じる" onClick="window.close()">
</div>
</div>
