<div class="sectionHeader">パスワードを忘れた方</div>

<div id="complete_area">
<p class="text">
 新しいパスワードをメール送信いたしましたので、ご利用ください。<br />
 又、パスワードの変更は会員登録の変更で行えますので、MYページの会員登録変更にて行ってください。</p>

<p class="text">「暗号化（SSL）」を使用しています。お客様情報やパスワードは安全に送受信されます。</p>
<div class="my_btn4">
    <%= link_to "TOPへ戻る", {:controller => :portal, :action => :show}, :class => "rosy button" %>
</div>
</div>