<div class="sectionHeader">会員登録</div>
<div id="entry">

<!-- 会員登録 -->
<p class="text">会員登録が完了しました。</p>
<p class="text">登録していただいたメールアドレス宛に、会員登録確認のメールを送信しました。<br />
メール記載のアドレスにアクセスし、登録を完了させてください。</p>
<div class="my_btn4"><%= link_to('TOPページへ', {:controller=>'/'}, :class => 'rosy button') %></div>

</div><!-- /entry -->
