<div class="sectionHeader">会員登録</div>
<div id="entry">
  <p class="tb_desc">
    会員情報をご送信いただくと、お客さまにメールが届きます。<br />
    メールに記載のURLにアクセスしていただき会員登録の手続きが完了となります。
  </p>
  <p class="require">※は必ずご入力ください。パスワードは商品購入時に必要となります。</p>
  <%= @customer && error_messages_for(:customer) %>

  <div id="input_area">
    <% form_for :customer, :url => {:action => 'signup_confirm'} do |f| %>
      <%= render :partial => "form", :locals => {:f => f} %>
    <% end %>
  </div>
</div>
