<%= render :partial => "base/title", :locals => {:title => "会員登録完了"} %>

<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
<div style="text-align:center;">会員登録が完了しました。</div>
<div style="background-color:#F3F3EC;"><%= image_tag_mobile "spacer", :width => "1", :height => "2" %><br /></div>
登録していただいたﾒｰﾙｱﾄﾞﾚｽ宛に、会員登録確認のﾒｰﾙを送信しました。
ﾒｰﾙ記載のｱﾄﾞﾚｽにｱｸｾｽし、登録を完了させてください。

<div style="text-align:center;"><%= link_to('TOPページへ', :controller=>'/') %></div>
