<div class="sectionHeader">退会手続き</div>

<div class="text">
退会手続きが完了いたしました。<br />
ご利用いただき、誠にありがとうございました。<br />
またのご利用を心よりお待ち申し上げます。
</div>
<br />
<div style="text-align:center;"><%= link_to('TOPページへ', { :controller=>'portal', :action=>'show' }, :class => "rosy button") %></div>