<div class="sectionHeader">退会手続き</div>

<div class ="text">会員を退会された場合には、現在保存されている購入履歴や、お届け先などの情報は、すべて削除されますがよろしいでしょうか？</div>

<div style="text-align:center;">
<% form_tag :action => 'withdraw_confirm' do %>
 <%= submit_tag '会員退会手続きへ', :class => 'rosy button' %>
<% end %>
</div>