<%= render :partial => "base/title", :locals => {:title => "退会手続き"} %>

<p>退会手続きを実行してもよろしいでしょうか？</p>
<div style="text-align:center;">
<% form_tag :action => 'withdraw_complete' do %>
<%= submit_tag 'はい' %>
<% end %>
<%= button_to "いいえ", :controller => :accounts, :action => :myindex_mobile %>
</div>

<p style="color:#ff0000;">※退会手続きが完了した時点で、現在保存されている購入履歴や、お届け先等の情報はすべてなくなりますのでご注意ください。</p>