<div class="sectionHeader">退会手続き</div>


<div class="text">退会手続きを実行してもよろしいでしょうか？</div>

<div class="withdrawButtons">
<% form_tag :action => 'withdraw_complete' do %>
<%= submit_tag 'はい', :class => 'rosy button withdrawYes' %>
<% end %>
<%= button_to "いいえ", {:controller => :accounts, :action => :myindex}, :class => 'rosy button withdrawNo' %>
</div>

<div class="text highlightError">※退会手続きが完了した時点で、現在保存されている購入履歴や、お届け先等の情報はすべてなくなりますのでご注意ください。</div>